name: 'deploy'

on:
  push:
    branches:
    - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Cloning repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Type check
        run: npm run type-check || true

      - name: Lint (optional)
        run: npm run lint || true

      - name: Build project
        run: npm run build

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@app1.fabricadesoftware.ifc.edu.br:1022/catraca'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          branch: main
